* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #75e6a4 !important;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.heading {
    font-size: 30px;
}

#edit-profile-form {
    /* display: none; */
    display: flex;
    flex-direction: column;
    background-color: #23d16b;
    width: 400px;
    border-radius: 15px;
    
}

#edit-profile-form input {
    background-color: #75e6a4;
    color: white;
}

#edit-profile-form input:focus {
    background-color: #68ec9f;
    color: white;
    border: 2px solid #00ff6a;
    box-shadow: none;
}

.header {
    font-size: 36px;
    margin-bottom: 20px;
}

#main-section form {
    font-size: 20px;
}

#main-section .form-group {
    margin-bottom: 10px;
}

.blur {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}

.hide {
    display: none !important;
}

#UploadImage {
    position: relative;
    left: -20%;
    top: 20%;
    background-color: white;
    width: 35px !important;
    height: 35px;
    border-radius: 50%;
    padding: 5px;
    border: 2px solid #198754;
}

#upload-image-section {
    width: 400px;
    background-color: #23d16b;
}

.image-section .head {
    font-size: 20px;
    margin-left: 25px;
}

#changeImage {
    
}